body {
    background-color:  #fceed1;
  }
  
nav {
    background-color: #8458B3;
  }

span{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: 8458B3;
}